<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Index page</title>
   <link rel="stylesheet" href="./css/styles.css" />

 </head>
 <body>
    <%- include('header.ejs') %>
    <input class="newTodo" type = "text" placeholder="What's Next?">
    <input class="newTodo" type = "date">
    <button class="add">Add</button>
    <% if(todoCount) { %>
      <h1> <%= todoCount %> </h1>
    <% } %>
    <table>
      <% for (var i = 0 ; i < allTodos.length ; i++) { %>
        
          <tr>
            <%= allTodos[i].title %>
          </tr>
        
      <% } %>
  </table>
 </body>
</html>